

GOOGLE_API_KEY=AIzaSyAHVRlFKmUO5alE9xAa8bo1tEiVCcbpCWw

# These can also be entered in the app UI at runtime.
# Domain example: https://ayush180670107041.atlassian.net/
API Token: https://id.atlassian.com/manage-api-tokens
JIRA_DOMAIN=https://ayush180670107041.atlassian.net/
JIRA_EMAIL=ayush180670107041@gmail.com
JIRA_API_TOKEN=
JIRA_PROJECT_KEY=PROJ
